@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ArticulatCF-Normal";
    src: url(fonts/articulatcf-normal.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "ArticulatCF-Regular";
    src: url(fonts/articulatcf-regular.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "WayfinderCF";
    src: url(fonts/wayfindercf-bold.otf) format("opentype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "WayfinderCF";
    src: url(fonts/wayfindercf-regular.otf) format("opentype");
    font-style: normal;
    font-weight: 400;
}